/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start */

* { box-sizing: border-box; }

html { font-family:  sans-serif; }

.wrapper{
  width: 96.4%;
  margin: 0 auto;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a { 
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
 }

h2 {
  width: 75%;
  padding-left: 5% ;
  color:#ffffff;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}

h3 {
  padding: 9% 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 900;
}

h4 {
  padding: 5% 0;
  position: relative;
  color: #918b8b;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
}

h4::after{
  content: "";
  width: 6%;
  margin: 1.5em;
  padding-bottom: 4px;
  position: absolute;
  left: 43%;
  background-color: #5fb0dd;
}

h5 {
  padding: 5% 0;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 900;
}

h6 {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 900;
}

p { 
  font-size: 0.72em;
  color: #ffffff;
  line-height: 2em;
  align-items: center;
}

/* navigation */

header { position: relative; }

.header-content{ 
  display: flex;
  align-items: center;
  position: relative;
 }

 .header-content img{
   width: 100%;
   
 }

nav {
  width: 44.6%;
  margin-left: 20.5%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list li {  text-align: center;}

.nav-list a {
  font-size: 0.7em;
  padding: 0 1em;
  color: #aeb5b8;
  text-transform: uppercase;
}

.nav-list li::after {
  content: "/";
  color:#aeb5b8;
}

.nav-list li:last-child::after { content: none; }

.header-content > a::before {
  content: "\f002";
  position: absolute;
  top: 35%;
  right: 0;
  color:#aeb5b8;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
    
}

.hamburger::before{
  content: "\f0c9";
  display: none;
  position: absolute;
  top: 35%;
  right: 5%;
  color:#aeb5b8;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

/* section banner */
.banner {
  margin-bottom: 17.5% ;
  display: flex;
}


.banner-heading {
  width:40%;
  padding: 9% 0%;
  position: relative;
  background-color: #6cb3dd;
  transform: translate(17%,16%); 
}

.banner-para {
  width:53.5%;
  padding: 7%;
  position: absolute;
  background-color:#5fb0dd;
  transform: translate(69.5%,-67.5%); 
  text-align: center;
}

.banner-para p { margin: 6%; }

/* section world-ocean */
.world-ocean{ background-color: #6cb3dd; }

.world-wrapper {  display: flex;  }

.world-ocean-content {
  width: 50%;
  position: relative; 
  text-align: center;
}

.world-ocean-content p { 
  padding:0 10%;
  padding-bottom: 4%;
}

.world-ocean-content > a { 
  margin-top: 5%;
  padding: 1.5em 2.5em;
  display: inline-block;
  background: #ffffff;
}

.world-ocean-content > a:hover {
  background: #ffff00;

}

.world-ocean-content ul{
  width: 103.5%;
  border-top: 1px solid #808080;
  display: flex;
  position: absolute;
  left: -3.5%;
  bottom: 0;
  align-items: center;
}

.world-ocean-content li { 
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}


.world-ocean-content address , span {
  text-transform: capitalize;
  font-size: 1.2em;
  margin: 0 auto;
}




.location::before {
  content: "\f3c5";

  padding: 0.7em;
  border-right: 1px solid  #808080;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

.calender::before {
  content: "\f133";
  padding: 0.7em;
  border-right: 1px solid  #808080;
  border-left: 1px solid  #808080;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

.world-ocean figure { width: 50%;}

.world-ocean figure > img { 
  object-fit: cover; }


/* section featured */

.featured { margin: 3% 10%; }

.featured-container {
  display: flex;
}

.featured-container p{
  color: black;
}

.featured-scroller {
  width: 40%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  overflow-y: scroll;
}

.featured-scroller::-webkit-scrollbar-thumb{
  width: 12em;
  height: 70vh;

} 


.featured-list {
  width: 100%;
  height: 120vh;
  padding: 0 3%;
  position: absolute;
  border-left: 1px solid  #808080 ;
  text-align: center;
}



.featured-list > li{
  margin: 5%;
  padding: 5% 5%;
  border: 1px solid  #808080;
}

.featured-list > li::before{
  content: "";
  width: 2em;
  border-radius: 50%;
  background-color: rgb(82, 17, 17);
}

.featured-list p { 
  color: black;
  font-size: 0.75em;
  text-transform: none;
}

.featured-content {
  width: 60%;
  margin: 5%;
  padding: 2% 5%;
  background: #aedad1;

}

.featured-content h5 > span {
  font-size: 0.6em;
  color: #a9a9a9;
  float: right;
  }

.featured-content li > div {
  width: 55%;
  margin: 10% 0;
  border: 1px solid #739b73;
  display: inline-block;
}

.notepad-content p {
  width: 80%;
  display: inline-block;
  text-transform: capitalize;
  font-size: 0.75em;
}

.notepad::before{
  content: "\f044";
  padding: 0.3em;
  background: #739b73;
  font-family: "Font Awesome 5 Free";
  font-size: large;
  font-weight: 400;
}

.featured-button{
  margin: 10% 5%;
  padding: 1em 1em;
  display: inline-block;
  background-color: #fff;
}

.featured-content2 { display: none; }

