/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start */

* { box-sizing: border-box; }

html { font-family:  sans-serif; }

.wrapper{
  width: 96.4%;
  margin: 0 auto;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a { 
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8em;
 }

h2 {
  width: 75%;
  padding-left: 5% ;
  color:#ffffff;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
  text-align: center;
}

h3 {
  padding: 9% 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 900;
}

h4 {
  padding: 5% 0;
  position: relative;
  color: #918b8b;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.2em;
}

h4::after{
  content: "";
  width: 6%;
  margin: 1.5em;
  padding-bottom: 4px;
  position: absolute;
  left: 43%;
  background-color: #5fb0dd;
}

h5 {
  padding: 5% 0;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 900;
}
h6 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 900;
}

p { 
  font-size: 0.72em;
  color: #ffffff;
  line-height: 2em;
  align-items: center;
}

/* navigation */

header { position: relative; }

.header-content{ 
  display: flex;
  align-items: center;
  position: relative;
 }

 .header-content img{
   width: 100%;
   
 }

 nav {

    width: 49.3%;
    margin-left: 19.5%;
}

.nav-list {
  display: flex;
}

.nav-list li {  text-align: center;}

.nav-list a {
  font-size: 0.7em;
  padding: 0 1.8em;
  color: #aeb5b8;
  text-transform: uppercase;
}

.nav-list li::after {
  content: "/";
  color:#aeb5b8;
}

.nav-list li:last-child::after { content: none; }

.header-content > a::before {
  content: "\f002";
  position: absolute;
  top: 35%;
  right: 0;
  color:#aeb5b8;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
    
}

.hamburger::before{
  content: "\f0c9";
  display: none;
  position: absolute;
  top: 35%;
  right: 5%;
  color:#aeb5b8;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

/* section banner */
.banner {
  margin-bottom: 17.5% ;
  display: flex;
}


.banner-heading {
  width:40%;
  padding: 9% 0%;
  position: relative;
  background-color: #6cb3dd;
  transform: translate(17%,16%); 
}

.banner-para {
  width:53.5%;
  padding: 7%;
  position: absolute;
  background-color:#5fb0dd;
  transform: translate(69.5%,-67.5%); 
  text-align: center;
}

.banner-para p { margin: 6%; }

/* section world-ocean */
.world-ocean{ 
  position: relative;
  background-color: #6cb3dd;
 }

.world-wrapper {  display: flex;  }

.world-ocean-content {
  width: 50%;
  position: relative; 
  text-align: center;
}

.world-ocean-content p { 
  padding:0 10%;
  padding-bottom: 4%;
}

.world-ocean-content > a {
  margin: 5% 0;
  margin-bottom: 15%;
  padding: 1.5em 2.5em;
  display: inline-block;
  background: #ffffff;
}

.world-ocean-content > a:hover {
  background: #ffff00;

}

.world-ocean-content ul{
  width: 103.5%;
  border-top: 1px solid #808080;
  display: flex;
  position: absolute;
  left: -3.5%;
  bottom: 0;
  align-items: center;
}

.world-ocean-content li { 
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}


.world-ocean-content address, span {
  text-transform: capitalize;
  font-size: 0.75em;
  padding: 0 1em;
}



.location::before {
  content: "\f3c5";
  padding: 0.7em;
  border-right: 1px solid  #808080;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

.calender::before {
  content: "\f133";
  padding: 0.7em;
  border-right: 1px solid  #808080;
  border-left: 1px solid  #808080;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

.world-ocean figure { 
  width: 50%;
  padding: 15.15%;
  position: absolute;
  left: 50%;
  background-image: url("https://via.placeholder.com/601x364");
  background-repeat: no-repeat;
  background-size: cover;
}

/* section featured */

.featured {
  margin: 0 10%;
  margin-top: 3%;
}


.featured-container {
  display: flex;
}

.featured-container p{
  color: black;
}

.featured-scroller {
  width: 40%;
  height: 76vh;
  overflow: hidden;
  position: relative;
  overflow-y: scroll;
}

/* .featured-scroller::-webkit-scrollbar-thumb{
  width: 12em;
  height: 70vh;

}  */



.featured-list {
  width: 100%;
  height: 120vh;
  margin: 0 2.5%;
  padding: 0 3%;
  position: absolute;
  border-left: 1px solid #808080;
}



.featured-list > li{
  margin: 5%;
  padding: 5% 5%;
  border: 1px solid  #808080;
  color: black;
  position: relative;
}

.featured-list > li::before {
  content: "\f111";
  position: absolute;
  /* user translate for center dots */
  top: 50%;
  transform: translateY(-50%);
  left: -13%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  
}

.featured1::before {
  color: #cde2e6;
}

.featured2::before {
  color: #798856;
}

.featured3::before {
  color: #d47585;
}

.featured4::before {
  color: #47bae7;
}

.featured5::before {
  color: #47bae7;
}

.featured6::before {
  color: #798856;
}

.featured7::before {
  color: #d47585;
}

.featured1:hover { 
  background: #cde2e6 ;
}

.featured2:hover { 
  background: #798856 ;
}

.featured3:hover { 
  background: #d47585 ;
}

.featured4:hover { 
  background: #47bae7 ;
}

.featured5:hover { 
  background: #47bae7 ;
}

.featured6:hover { 
  background: #cde2e6 ;
}

.featured7:hover { 
  background: #d47585 ;
}

.featured-list p {
  color: black;
  font-size: 0.75em;
  text-transform: none;
  padding: 2% 0;
}

.featured-content {
  width: 60%;
  margin: 0 5%;
  margin-bottom: 25%;
  padding: 2% 5%;
  background: #cde2e6;
}


.featured-content h5 > span {
  font-size: 0.8em;
  color: #a9a9a9;
  float: right;
}

.featured-content li > div {
  width: 55%;
  margin: 10% 0;
  border: 1px solid #739b73;
  display: inline-block;
}

.notepad-content p {
  width: 80%;
  display: inline-block;
  text-transform: capitalize;
  font-size: 0.75em;
}

.notepad::before{
  content: "\f044";
  padding: 0.3em;
  background: #739b73;
  font-family: "Font Awesome 5 Free";
  font-size: large;
  font-weight: 400;
}

.featured-button{
  margin: 10% 5%;
  padding: 1.3em 2em;
  display: inline-block;
  background-color: #fff;
}

.featured-content2 { display: none; }

/*  section infographic */

.infographic {
  padding-bottom: 10%;
}

.infographic h4 { padding-top: 0; }

.infographic > div { position:  relative;}

.infographic-content { 
  width: 100%;
  position: relative;
  right: 0%;
  overflow: hidden;
}

.infographic-slider{
  width: 110%;
  display: flex;
  justify-content: space-between;
}

.info-slide {
  width: 40%;
  margin: 1%;
  padding: 15% 5%;
  padding-bottom: 5%;
  text-align:center;
}

.info-slide div{
  margin: 0 auto;
  background-color: #dad2d2;
}

.info-slide h6 {
  padding: 10%;
  font-weight: 400;
  text-transform: lowercase;
}

.info-slide p {
  color: #000000;
  font-size: 0.85em;
}

.right-arrow::before {
  content: "\f138";
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
  padding: 5%;
}

.info1 { 
  background: url(https://via.placeholder.com/300);
  background-repeat: no-repeat;
  background-size: cover;
}

.info2 { 
  background: url(https://via.placeholder.com/300);
  background-repeat: no-repeat;
  background-size: cover; 
}

.info3 { 
  background: url(https://via.placeholder.com/300);
  background-repeat: no-repeat;
  background-size: cover;  
}

.controller {
  width: 50%;
  margin-top: 3%;
  margin-bottom: 6%;
  position: absolute;
  left: 25%;
  background: #b6d2e2;
}



.controller ul{
  width: 100%;
  display: flex;
  position: relative;
}

.controller ul > li {
  padding: 0.4em;
}

.line { width: 33.33%;}

.active { 
  width: 10%;
  position:absolute;
  left: 5%;
  background: #6cb3dd;
}

/* section input-form */

.input-form {
  padding: 5%; 
  background: #6cb3dd;  
}

form {
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  color: #b8e2fb;
  font-size: 0.75em;
}

form div { 
  width: 100%;
  margin: 2% 0;
  position: relative;
}

input {
  width: 90%;
  padding: 3.5%;
  border: 1px;
  background-color: #8fc9eb;
}

::-webkit-input-placeholder { 
  color: #0b2c3d;
  text-transform: capitalize;
}

.paper-plane::before {
  content: "\f1d8";
  padding: 0.3em;
  position: absolute;
  right: 10%;
  background-color: #ffffff;
  font-family: "Font Awesome 5 Free";
  font-size: xx-large;
  font-weight: 900;
}

/* footer */

footer { background: #242222;}

.footer-content { 
  display: flex;
  align-items: center;
}

.footer-content h6 {
  padding: 3% 0;
  color: #808080;
  font-size: 1em;
}

.footer-content ul {
  width: 25%;
  margin-left: 45% ;
  display: flex;
  justify-content: space-evenly;
}

.facebook::before {
  content: "\f39e";
  color: #808080 ;
  font-family: "Font Awesome 5 Brands";
  font-size: x-large;
  font-weight: 400;
}

.twitter::before {
  content: "\f099";
  color: #808080 ;
  font-family: "Font Awesome 5 Brands";
  font-size: x-large;
  font-weight: 400;
}

.google-plus::before {
  content: "\f0d5";
  color: #808080 ;
  font-family: "Font Awesome 5 Brands";
  font-size: x-large;
  font-weight: 400;
}

.linkedin::before {
  content: "\f0e1";
  color: #808080 ;
  font-family: "Font Awesome 5 Brands";
  font-size: x-large;
  font-weight: 400;
}

.footer-content > a {
  padding: 1em 1.5em;
  margin-left: 1%;
  color: #ffffff;
  background-color: #808080;
}


/* responsive */


@media screen and (max-width: 1024px) {
  nav {
    width: 65%;
    margin-left: 10.5%;
  }

  .world-ocean figure {
    padding: 16%;
}

}

@media screen and (max-width: 920px){
	nav { 
    font-size: 0.8em;
   }
  
  h2 { font-size: 2em; }

  .world-wrapper { flex-direction: column;}

  .world-ocean-content { 
    width: 100%;
    padding: 10%;
  }

  .world-ocean-content ul { 
    left: 0%;
    border-bottom: 1px solid #808080;
  }

  .world-ocean figure {
    width: 100%;
    margin: 1%;
    padding: 25% 0;
    position: relative;
    left: -1%;
}

.featured-list {
  margin: 0 4%;
}

.featured-list > li::before {
  left: -4%;
}

  .featured-content li > div {
    width: 100%;
  }

  .featured-content h5 > span {
    font-size: 0.7em;
  }

  .world-ocean figure > img { width: 100%;}

  .infographic {
    padding-bottom: 10%;
}

.paper-plane::before {
  padding: 0.1em;
}

  .footer-content h6 {
    font-size: 0.55em;
  }

  .footer-content ul {
    margin-left: 35%;
}
  
}

@media screen and (max-width: 720px) { 

  nav { margin-left: 5%;}

  .nav-list a { padding: 0 0.5em; }
}

@media screen and (max-width: 540px){


  h2 { font-size: 1em; }

  h4 { font-size: 1.2em; }


p { line-height: 1.2em; }

	.header-content { 
    flex-direction: column;
   }

  nav{
    font-size: 1em;
    padding-left: 0 ;
    display: none;
  }

  .nav-list {
    flex-direction: column;
    text-align: center;
  }

  .nav-list li::after { content: none; }

  .header-content > a::before {
    position: absolute;
    top: 50%;
    right: 0;
    display: none;
      
  }

  .hamburger::before { display: block; }

  .banner-para { transform: translate(69.5%,-30.5%); }

  .banner { margin-bottom: 50.5%; }

  .world-ocean-content > a {
    padding: 1.5em 1.5em;
}

  .featured { margin: 0 1%;}

  .featured-list > li::before {
    left: -5.5%;
  }

  .featured-content h5 > span {
    display: block;
    color: #a9a9a9;
    font-size: 0.8em;
  }

  .featured-content  p { margin: 5%; }

  .featured-content span { font-size: 0.59em;}

  form { width: 90%; }

  .footer-content ul { margin-left: 20%; }
  
  .facebook::before { font-size: small; }

  .twitter::before { font-size: small; }

  .google-plus::before { font-size: small; }

  .linkedin::before { font-size: small; }

  .footer-button { font-size: 0.6em; }

}

@media screen and (max-width: 375px) {

.footer-content ul { margin-left: 10%; }

.footer-button { font-size: 0.5em;}

.world-ocean { overflow: hidden; }

.featured-content span { font-size: 0.51em; }

.featured-button { padding: 1.3em 1.5em; }

input { padding: 4%; }

}

