/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start */

* { box-sizing: border-box; }

html { font-family: Arial, Helvetica, sans-serif; }

.wrapper{
  width: 96.4%;
  margin: 0 auto;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a { 
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
 }

h2 {
  width: 80%;
  color:#ffffff;
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 900;
  text-align: center;
}

h3 {
  padding: 5% 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 900;
}

h4 {
  padding: 5% 0;
  position: relative;
  color: #d3d3d3;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8em;
  font-weight: 900;
}

h4::after{
  content: "";
  width: 5%;
  margin: 1.5em;
  padding-bottom: 5px;
  position: absolute;
  left: 45%;
  background-color: #5fb0dd;
}

h5 {
  padding: 5% 0;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 900;
}

p { 
  font-size: 0.9em;
  color: #ffffff;
  line-height: 2em;
  align-items: center;
}

/* navigation */

header { position: relative; }

.header-content{ 
  display: flex;
  align-items: center;
  position: relative;
 }

nav {
  width: 44.6%;
  margin-left: 23%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list li {  text-align: center; }

.nav-list a {
  font-size: 0.8em;
  /* color: #5fb0dd; */
  color:#aeb5b8;
  text-transform: uppercase;
}

.nav-list li::after { 
  content: "/";
  padding:0 1em;
  color:#aeb5b8;
}

.nav-list li:last-child::after { content: none; }

.header-content > a::before {
  content: "\f002";
  position: absolute;
  top: 35%;
  right: 0;
  color:#aeb5b8;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
    
}

.hamburger::before{
  content: "\f0c9";
  display: none;
  position: absolute;
  top: 35%;
  right: 5%;
  color:#aeb5b8;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

/* section banner */
.banner {
  margin-bottom: 15%;
  position: relative;
  display: flex;
}


.banner-heading {
  width:39%;
  padding: 8% 0%;
  background-color: #6cb3dd;
  transform: translate(20%,15%); 
}

.banner-para {
  width:50%;
  padding: 8%;
  background-color:#5fb0dd;
  transform: translate(1%,28%); 
  text-align: center;
}

.banner-para p { margin: 5%; }

/* section world-ocean */
.world-ocean{ display: flex; }

.world-ocean-content {
  width: 50%;
  position: relative;
  background-color: #6cb3dd;
  text-align: center;
}

.world-ocean-content p { padding: 10%; }

.world-ocean-content > a { 
  margin: 5%;
  padding: 1em 1em;
  background: #ffffff;
}

.world-ocean-content ul{
  width: 100%;
  border-top: 1px solid #808080;
  display: flex;
  position: absolute;
  bottom: 0;
}

.world-ocean-content li { 
  width: 50%;
  padding: 2%;
  display: flex;
}

.world-ocean-content address , span {
  padding: 0 1%;
  text-transform: capitalize;
  font-size: 1.2em;
}

.location::before {
  content: "\f3c5";
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

.calender::before {
  content: "\f133";
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

.world-ocean figure { width: 50%;}

.world-ocean figure > img { width: 100%; }


/* section featured */

.featured { margin: 5% 10%; }

.featured-container {
  display: flex;
}

.featured-container p{
  color: black;
  font-size: 0.9em;
}

.featured-list {
  width: 40%;
  text-align: center;
}

.featured-list li{
  padding: 5%;
}

.featured-list p { 
  color: black;
  font-size: 0.9em;
  text-transform: none;
}

.featured-content {
  width: 60%;
  margin: 5%;
  padding: 2% 5%;
  background: #aedad1;
  position: relative;
}

.featured-content h5 > span {
  color: #a9a9a9;
  float: right;
  font-size: 0.8em;
}

.featured-content li > div {
  width: 70%;
  border: 1px solid #739b73;
}

.notepad::before{
  content: "\f044";
  padding: 0.3em;
  background: #739b73;
  font-family: "Font Awesome 5 Free";
  font-size: x-large;
  font-weight: 900;
}

.featured-button{
  padding: 1em 1em;
  position: absolute;
  right: 8%;
  bottom: 8%;
  background-color: #fff;

}

.featured-content2 { display: none; }